
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
.vscode
cpp/**
*.dvi
*.xdv
*-converted-to.*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.alg
*.loa
acs-*.bib
*.thm
*.nav
*.pre
*.snm
*.vrb
*.soc
*.cpt
*.spl
*.ent
*.lox
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*-gnuplottex-*
*.gaux
*.gtex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref
*.brf
*-concordance.tex
*.tikz
*-tikzDictionary
*.lol
*.idx
*.ilg
*.ind
*.ist
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*
_minted*
*.pyg
*.mw
*.nlg
*.nlo
*.nls
*.pax
*.pdfpc
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd
*.wrt
*.sout
*.sympy
sympy-plots-for-*.tex/
*.upa
*.upb
*.pytxcode
pythontex-files-*/
*.loe
*.dpth
*.md5
*.auxlock
*.tdo
*.lod
*.xmpi
*.xdy
*.xyc
*.ttt
*.fff
TSWLatexianTemp*
*.bak
*.sav
.texpadtmp
*.backup
*~[0-9]*
./auto/*
*.el
*-tags.tex
*.sta
*.spl
.vs/*
**/out
**/.idea
/semestr-8/Programowanie obiektowe w Java/Wyklad-2/DecoratorTest/nbproject/private/
/semestr-8/Programowanie obiektowe w Java/Wyklad-2/DecoratorTest/build/
**/Debug
/semestr-8/Programowanie obiektowe w Java/Wyklad-6/BuilderProject/nbproject/private/
/semestr-8/Programowanie obiektowe w Java/Wyklad-6/BuilderProject/build/
/semestr-8/Programowanie obiektowe w Java/Wyklad-6/IdBuilderProject/build/
/semestr-8/Programowanie obiektowe w Java/Wyklad-6/IdBuilderProject/dist/
/semestr-8/Programowanie obiektowe w Java/Wyklad-7/HarmonicCalc/nbproject/private/
/semestr-8/Programowanie obiektowe w Java/Wyklad-7/HarmonicCalc/build/
