<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <br/>
    <form asp-action="Create">
        Treść: <input name="text" class="input-lg" />
        <input type="submit" value="Zapisz" />
    </form>
</body>
</html>