body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 1rem 0 2rem;
	background: #e4e4e4;
}

nav {
	margin-right: 1rem;
}

#main {
	max-width: 800px;
	margin: auto;
}

.bg-primary {
	background: coral;
}

.d-flex {
	display: flex;
}

.bg-secondary {
	background: rgb(255, 255, 179);
}

#header {
	margin: auto;
	padding: 1rem;
	margin-bottom: 1rem;
}

.shadow {
	box-shadow: 0 0 1rem #666;
}

#header-title {
	flex-grow: 1;
	text-align: center;
	/* line-height: 200px; */
	/* height: 200px; */
	vertical-align: middle;
}

#header-image {
	flex-shrink: 1;
	display: block;
}

#header-image > img {
	max-width: 200px;
	height: 100%;
}

form {
	/* background: rgb(255, 215, 201); */
	padding: 1rem;
}

th {
	text-align: center;
	align-items: center;
	width: 100%;
}
tr {
	display: flex;
	padding: 0.5rem;
}

tr > td > label {
	width: 200px;
	text-align: right;
	margin-right: 1rem;
}

table {
	width: 100%;
}

td:first-child {
	align-items: right;
	text-align: right;
	width: 40%;
}

#buttons-field {
	display: flex;
}

#buttons-field td {
	width: 50%;
	padding: 1rem;
}

#buttons-field td input {
	width: 150px;
}

#body {
	display: flex;
}

#body > nav {
	width: 200px;
	margin-right: 1rem;
	display: flex;
}

#body > form {
	flex-grow: 1;
}

ul {
	margin: 1rem;
	flex-grow: 1;
	/* height:100%; */
	padding: 0;
}

ul li{
	padding:0.5rem 1rem;
	margin:1rem;
	list-style-type: none;
	color:whitesmoke;
	font-weight: 500;
	text-align: center;
}

ul li:hover{
	box-shadow: none;
	cursor: pointer;
}